@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Merriweather&family=Oxanium&display=swap');

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));


:root {
  --background: oklch(0.9808 0.0091 258.3352);
  --foreground: oklch(0.3746 0.0463 234.7189);
  --card: oklch(0.9576 0.0177 253.3386);
  --card-foreground: oklch(0.3746 0.0463 234.7189);
  --popover: oklch(0.9576 0.0177 253.3386);
  --popover-foreground: oklch(0.3746 0.0463 234.7189);
  --primary: oklch(0.5225 0.1521 251.0450);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7517 0.1294 255.4673);
  --secondary-foreground: oklch(0.4344 0.0202 251.0651);
  --muted: oklch(0.9004 0.0452 261.8643);
  --muted-foreground: oklch(0.5490 0.0213 243.2218);
  --accent: oklch(0.8485 0.0759 255.8927);
  --accent-foreground: oklch(0.4344 0.0202 251.0651);
  --destructive: oklch(0.6971 0.1190 194.7689);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8060 0.0843 268.7903);
  --input: oklch(0.8060 0.0843 268.7903);
  --ring: oklch(0.5225 0.1521 251.0450);
  --chart-1: oklch(0.5225 0.1521 251.0450);
  --chart-2: oklch(0.5490 0.0213 243.2218);
  --chart-3: oklch(0.4215 0.1706 259.8479);
  --chart-4: oklch(0.5490 0.0213 243.2218);
  --chart-5: oklch(0.4540 0.2210 262.6322);
  --sidebar: oklch(0.9004 0.0452 261.8643);
  --sidebar-foreground: oklch(0.3746 0.0463 234.7189);
  --sidebar-primary: oklch(0.5225 0.1521 251.0450);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.4215 0.1706 259.8479);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.8060 0.0843 268.7903);
  --sidebar-ring: oklch(0.5225 0.1521 251.0450);
  --font-sans: Oxanium, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0px 2px 3px 0px hsl(205.5319 37.0079% 24.9020% / 0.09);
  --shadow-xs: 0px 2px 3px 0px hsl(205.5319 37.0079% 24.9020% / 0.09);
  --shadow-sm: 0px 2px 3px 0px hsl(205.5319 37.0079% 24.9020% / 0.18), 0px 1px 2px -1px hsl(205.5319 37.0079% 24.9020% / 0.18);
  --shadow: 0px 2px 3px 0px hsl(205.5319 37.0079% 24.9020% / 0.18), 0px 1px 2px -1px hsl(205.5319 37.0079% 24.9020% / 0.18);
  --shadow-md: 0px 2px 3px 0px hsl(205.5319 37.0079% 24.9020% / 0.18), 0px 2px 4px -1px hsl(205.5319 37.0079% 24.9020% / 0.18);
  --shadow-lg: 0px 2px 3px 0px hsl(205.5319 37.0079% 24.9020% / 0.18), 0px 4px 6px -1px hsl(205.5319 37.0079% 24.9020% / 0.18);
  --shadow-xl: 0px 2px 3px 0px hsl(205.5319 37.0079% 24.9020% / 0.18), 0px 8px 10px -1px hsl(205.5319 37.0079% 24.9020% / 0.18);
  --shadow-2xl: 0px 2px 3px 0px hsl(205.5319 37.0079% 24.9020% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-color: #284357;
  --shadow-opacity: 0.18;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
}

.dark {
  --background: oklch(0.2144 0.0109 242.2662);
  --foreground: oklch(0.9674 0.0013 286.3752);
  --card: oklch(0.2777 0.0114 205.7544);
  --card-foreground: oklch(0.9674 0.0013 286.3752);
  --popover: oklch(0.2777 0.0114 205.7544);
  --popover-foreground: oklch(0.9674 0.0013 286.3752);
  --primary: oklch(0.6789 0.1785 247.8743);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4344 0.0202 251.0651);
  --secondary-foreground: oklch(0.9227 0.0059 239.8247);
  --muted: oklch(0.2777 0.0114 205.7544);
  --muted-foreground: oklch(0.7128 0.0181 242.5310);
  --accent: oklch(0.3627 0.1072 40.1566);
  --accent-foreground: oklch(0.9227 0.0059 239.8247);
  --destructive: oklch(0.9055 0.1544 194.7716);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3673 0.0174 248.3012);
  --input: oklch(0.3673 0.0174 248.3012);
  --ring: oklch(0.6789 0.1785 247.8743);
  --chart-1: oklch(0.6789 0.1785 247.8743);
  --chart-2: oklch(0.6544 0.2162 37.5924);
  --chart-3: oklch(0.4799 0.2706 263.8635);
  --chart-4: oklch(0.7128 0.0181 242.5310);
  --chart-5: oklch(0.5490 0.0213 243.2218);
  --sidebar: oklch(0.2777 0.0114 205.7544);
  --sidebar-foreground: oklch(0.9674 0.0013 286.3752);
  --sidebar-primary: oklch(0.6789 0.1785 247.8743);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.6544 0.2162 37.5924);
  --sidebar-accent-foreground: oklch(0.3543 0.0815 62.0555);
  --sidebar-border: oklch(0.3673 0.0174 248.3012);
  --sidebar-ring: oklch(0.6789 0.1785 247.8743);
  --font-sans: Oxanium, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.09);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.09);
  --shadow-sm: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.18);
  --shadow: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.18);
  --shadow-md: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.18);
  --shadow-lg: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.18);
  --shadow-xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.18);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.45);
  --shadow-color: #1a1a1a;
  --shadow-opacity: 0.18;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: Oxanium, sans-serif;
  --font-mono: Fira Code, monospace;
  --font-serif: Merriweather, serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --radius: 0.3rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}